/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/************************************************************************************ 
									Main Styles
 ************************************************************************************/

:root {
	--my-orange: #e8cf8d;
	--my-lightGrey: #E4E4E4;
	--my-veryLightGrey: #F1F1F1;
	--my-fbColor: #4267b2;
	--my-googleColor: #4285f4;
}

html {
	font-family: 'Open Sans', sans-serif;
	scroll-behavior: smooth;
	background: var(--my-veryLightGrey);
	box-sizing: border-box;
	width: 100%;
}

/* Header */
header {
	width: 100vw;
	height: 80px;
	background: #E4E4E4;
	position: sticky;
	top: 0px;
}

header .wrapper {
	width: 90vw;
	height: 100%;
	margin:	0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* left part of the navbar */
header .wrapper div.logo-search {
	display: flex;
}

header .wrapper div.logo-search p {
	font-size: 1.4rem;
	color: #5b5b5b;
	margin-right: 10px;
	padding-top: 4px;
	cursor: pointer;
}

header .wrapper div.logo-search form input {
	width: 350px;
	height: 30px;
	box-sizing: border-box;
	border: none;
	border-radius: 5px 0 0 5px;
	outline: black;
	padding: 5px;
	color: #5b5b5b;
	letter-spacing: .1rem;
	font-weight: bold;
}

header .wrapper div.logo-search form button {
	width: 40px;
	height: 30px;
	border: none;
	border-radius: 0 5px 5px 0;
	margin-left: -5px;
	padding: 0;
	cursor: pointer;
}

header .wrapper div.logo-search form button i {
	color: rgba(0, 0, 0, .6);
	width: 30px;
}

/* right part of the navbar */
header .wrapper nav ul.main-nav {
	display: flex;
}

header .wrapper nav ul.main-nav li {
	margin-left: 20px;
	border-right: 1px solid rgba(0, 0, 0, .3);
}

header .wrapper nav ul.main-nav li:nth-child(6) {
	border-right: none;
}

header .wrapper nav ul.main-nav li a {
	text-decoration: none;
	color: black;
	padding: 5px 8px;
	border-radius: 5px;
	transition: .3s ease;
}

header .wrapper nav ul.main-nav li a:hover {
	background: rgba(0, 0, 0, .1);
}


header .wrapper nav ul.main-nav li:nth-child(5) a:hover,
header .wrapper nav ul.main-nav li:nth-child(6) a:hover {
	background: none;
}

header .wrapper nav ul.main-nav li:nth-child(5) a i, 
header .wrapper nav ul.main-nav li:nth-child(6) a i {
	font-size: 1.2rem;
	transition: .3s ease;
	color: rgba(0, 0, 0, .6);
}

header .wrapper nav ul.main-nav li:nth-child(6) a i {
	font-size: 1.4rem;
	position: relative;
	top: -6px;
}

header .wrapper nav ul.main-nav li:nth-child(5) a:hover i,
header .wrapper nav ul.main-nav li:nth-child(6) a:hover i {
	
	color: rgba(0, 0, 0, 1);
}

.wrapper nav {
	position: relative;
}

.toggleClassForArrowBtn {
	display: block !important;
}

.sub-nav {
	display: none;
	width: 200px;
	background: white;
	padding: 5px;
	line-height: 1.5rem;
	box-shadow: 0px 0px 6px -2px black;
	border-radius: 5px;
	position: absolute;
	top: 56px;
	right: 0;
}

.sub-nav li {
	padding: 5px;
	border-bottom: 1px solid #5b5b5b;
	margin-bottom: 15px;
	transition: .3s ease;
}

.sub-nav li:hover {
	background: rgba(0, 0, 0, .5);
}

.sub-nav li:hover a {
	color: #FFF;
}

.sub-nav li a {
	display: block;
	width: 100%;
	text-decoration: none;
	color: black;
	cursor: pointer;
}
/************************************************************************************ 
									Responsive design
 ************************************************************************************/

/*Large devices (desktops, 992px and up) */
@media screen and (max-width: 992px) {
	header .wrapper div.logo-search form input {
		width: 180px;
	}
}


/* Medium devices (tablets, 768px and up) */
@media screen and (max-width: 768px) {
	header .wrapper {
		width: 90vw;
		height: 100%;
		margin:	0 auto;
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-around;
		align-items: center;
	}
	header .wrapper div.logo-search form input {
			width: 280px;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 576px) {

}

/* Small devices (landscape phones, 380px and up) */
@media screen and (max-width: 380px) {

}
